/**
 * styles.css
 *
 * Computer Science 50
 * FoodSnap Project
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:rgba(245, 222, 179, .3);
    max-width: 450px;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

table{
    margin: 0 auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline-block;
}

li{
    text-align: center;
}

body {
    background-image: url("../image/414844.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*background-repeat: no-repeat;
    background-origin: content-box;*/
}

h1{
    font-family: BrushScript MT,cursive;
    font-weight: 100;
}

.nav {
    font-family: BrushScript MT, cursive;
}

h2 {
    font-family: "BrushScript MT";
    font-size: x-large;
}

#welcome {
    color: midnightblue;
    font-family: BrushScript MT, cursive;
    font-size: 50px;
}

#listHeader {
    color: midnightblue;
    font-family: BrushScript MT, cursive;
    font-size: 25px;
}
